* {
    padding: 0;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: #add8e6;
    color: #333;
}

.wrapper{
    padding-top:50px;
    width:450px;
    margin: 0 auto;
}

.header-logo{
    text-align: center;
    margin-bottom: 30px;
}

/** Form Section**/

form {
    background: #fff;
    color: #000;
    padding: 1em;
    border-radius: 20px 20px 20px 0px;
    box-shadow: 1px 1px 2px #313131;
    margin-bottom: 50px;
}

.form-header{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

form .form-header h2{
    color: #000096;   
}

form .form-input{
    padding:20px;
    

}

label{
    padding: 10px;
    display: block;
    font-weight: bold;

}

form .form-input input{
    width:90%;
    padding:15px;
    color:#5e5e5e;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    background:#e7e7e7;
}

form .btn{
    background: #000096;
    display:block;
    padding:20px;
    width:100%;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    font-weight:700;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

form .btn:hover{
    background: #00006e;
}

.form-body h4 {
    text-align: center;
    margin-bottom: 50px;
}

select {
    width:100%;
    padding:15px;
    color:#5e5e5e;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    background:#e7e7e7;
}

select option{
    padding:20px;
}


@media(max-width:700px){
    .wrapper{
        width:400px;
    }
}

@media(max-width:480px){
    .wrapper{
        width:320px;
    }
}

@media(max-width:320px){
    .wrapper{
        width:300px;
    }
}

